/* Global Colors */
:root{
    --accent-clr: hsl(200, 100%, 50%);
}

/* Light Theme */
:root, :root[data-theme="Light"]{
    --body-bg: hsl(0, 0%, 100%);
    --body-clr: hsl(0, 0%, 0%);
    --theme-opt-bg: hsl(200, 15%, 94%);
    --theme-opt-hover-bg: hsl(200, 15%, 86%);
}

/* Dark Theme */
:root[data-theme="Dark"]{
    --body-bg: hsl(0, 0%, 10%);
    --body-clr: hsl(0, 0%, 100%);
    --theme-opt-bg: hsl(200, 15%, 16%);
    --theme-opt-hover-bg: hsl(200, 15%, 24%);
}