/* Basic */

*::before,
*,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--body-bg);
    color: var(--body-clr);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}